
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.4s;
    }
    body{
        background-color: rgba(241, 249, 250, 1);
        width: 100%;
        padding: 0px;
        /* height: 100%; */
        font-family: sans-serif;
        /* height: 100%; */
    }
    header , footer{
        background-color: rgba(50, 111, 125, 0.7);
        height: 75px;
    
    }
    header.scrolled {
        background-color: rgba(50, 111, 125, 1); 
      }
    header {
    position: sticky;
    top: 0;
    z-index: 999;

  } 
    .headerimage{
        margin: 10px 0px 20px 19px;
        width: 61px;
        height: 61px;
        border-radius: 191px;
    }
    
    a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    }
    
   
    .navbar{
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    border-bottom: 2px solid rgb(223, 251, 219);
    }
    
    
    
    .hamburger-menu{
    padding-right: 1.5rem;
    cursor: pointer;
    }
    
    .hamburger-menu .line{
       display: block;
       width:2.5rem;
       height: 2px;
       margin-bottom: 10px;
       background-color: black;
       cursor: pointer;
    }
    
    .nav-menu{
    position: fixed;
    width: 94%;
    top: 4.8rem;
    left: 18px;
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    width: 50%;
    margin-left: 50%;
    z-index: 999;
    
    }
    .nav-menu a{
    display: block;
    text-align: center;
    padding: 5px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .nav-menu a:hover{
    background-color: rgb(223, 251, 219);
    }
    
    .hide{
    display: none;
    }
    .footerdiv{
        display: block;
    }
    footer .divfooter{
        display: flex;
        
    
    }
    footer{
    
        text-align: center;
        padding-top: 1em;
        
        
     }
     
     footer p{
        margin: auto auto auto 5px ;
        
     }
     em{
        font-style:normal;
        font-weight: bold;
     }
    
    .footerimage{
        width: 12px;
        height: 12px;
        border-radius: 4px;
        margin: auto 5px auto auto;
    
    }
    
    
   
    @media screen and (min-width:800px){
    .navbar{
        justify-content: space-around;
    }
    .nav-menu{
        display: block;
        position: static;
        width: auto;
        margin-left: 20%;
        margin-right:20px;
        background: none;
    }
    .nav-menu a{
        display: inline-block;
        padding: 15px 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .nav-menu a:hover{
        background-color: rgb(223, 251, 219);
        border-radius: 5px;
    }
    .hamburger-menu{
        display: none;
    }
    }